.sj {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgb(237, 195, 96);
    p {
        width: 150px;
        height: 30px;
    }

    img {
        width: 150px;
        height: 150px;
    }
}

